#marged-zone{
    width: 9.8in;
    height: 20in;
    max-width: 100%;
    max-height: 100%;

    margin-top: 50px;


    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: White;
}

#text-zone{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    margin: 20px;
}
