.editor-zone {
    width: 100vw;
    height: fit-content;
    min-height: 500px;
    border: solid 1px black;
    display: flex;
    justify-content: center;

    padding:0px;

    background-color: #c9d8ea;
}